<html>
<head>
<title>Download <%= @name %></title>
<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/uploader.js"></script>
<meta charset="UTF-8">
<meta name="twitter:card" content="<%= (!@dlpass && @image) ? "summary_large_image" : "summary" %>">
<meta name="twitter:site" content="@fono09">
<meta name="twitter:title" content="Download <%= @name %>">
<meta name="twitter:description" content="Download <%= @name %> - <%= @comment?"Comment:#{@comment}":"" %> Last updated:<%= @last_updated %> Download Password:<%= @dlpass?"Locked":"Free" %>">
<% if !@dlpass && @image then %>
<meta name="twitter:image" content="<%= @image %>">
<% end %>
</head>
<body>
This is testpage!!!!
</body>
</html>

